@import "./typography.scss";
@import "./settings.scss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  color: $color-dark;
  font-family: $font-text;
  line-height: 1.7;
}

.container {
  margin: 0 60px;
}