@import "../../../styles/global.scss";

.navbar {
  
  
  background-color: $color-dark;
  color: $color-light;
  width: 100% ;
  align-items: center;
  position: sticky;
  top: 0;
}

.layout {
  display: inline-flex;
  width: inherit;
  justify-content: space-between;
  align-items: center;
}
  
.navigation {
    font-size: 40px;
    margin: 0 60px;
}

.nav {
    color: $color-light;
    padding: 0 20px;
    text-decoration: none;
    display: inline-flex;
}